.login-modal-container {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly ;
    position: absolute;
    top: 50%;
    left: 50%;
    background: var(--sidebar-color);
    padding: 25px;
    border-radius: 8px;
    max-width: 300px;
    width: 100%;
    height: 280px;
    transform: translate(-50%, -50%) scale(1.6);
    opacity: 0;
    pointer-events:none ;
    transition: var(--tran-05);
    z-index: 1000;
    box-shadow: 0 2px 4px var(--primary-color-light),
0 8px 16px var(--primary-color);
}
.loginModal-open{
    opacity: 1;
    pointer-events:all;
    transform: translate(-50%, -50%) scale(1.4);
transition: var(--tran-05);
}
.login-modal-container  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid #ebedf9
}
.login-modal-container  header span {
    font-size: 18px;
    font-weight: 600;
}
.login-modal-container header .close {
    height: 30px;
    width: 30px;
    background: var(--primary-color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--tran-03);
}

.login-modal-container header .close:hover {
    background: var(--primary-color);
    color: var(--sidebar-color);
}

.login-modal-container  p{
    margin-top: 4px;
    height: 15px;
    color:red;
    font-size: 10px;
}
.login-modal-container  form .input-row {
    margin: 0 10px;
    margin-bottom: 10px;
}

/* .login-modal-container  label {
    font-size: 16px;
    font-weight: 450;
    color: var(--text-color);
    margin-bottom: 5px;

} */



.login-modal-container  input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border:1px solid var(--toggle-color);
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
    transition: var(--tran-05);
    padding: 4px 10px;
}
.login-modal-container form  input::placeholder{
    /* color:#777; */
    color:#777;
    font-size: 17px;
    /* text-align: center; */
    letter-spacing: 6px;
}
.login-modal-container form  input:focus{
    border:1px solid var(--primary-color);
}
.login-btn-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 40px;
/* background: red; */

}

#login-btn {
    width: 100px;
    height: 40px;
    margin-top:10px;
    border: none;
    border-radius: 6px;
    transition: var(--tran-04);
    font-weight: 450;
    font-size: 16px;
    cursor: pointer;
    color: var(--text-color);
    transition: var(--tran-03);
    width: 70%;
    /* align-self: center; */
text-align: center;
outline: none;
background: var(--primary-color);
color:#fff;
font-weight: 600;
letter-spacing: 6px;
transition: var(--tran-04);
}

#login-btn:hover {
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    width: 100%;
    letter-spacing: 20px;

    transition: var(--tran-04);
}
.login-btn-loader{
padding-top:20px ;

}

/* .login-modal-container  form button{
    width: 100%;
    align-self: center;
text-align: center;
border: none;
outline: none;
cursor: pointer;
background: #1877f2;
padding:15px 0;
border-radius: 6px;
color:#fff;
font-size: 20px;
font-weight: 600;
transition: var(--tran-03);
letter-spacing: 8px;

} */
