.change-password-modal-container{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly ;
    position: absolute;
    top:10%;
    left: 48%;
    background: var(--sidebar-color);
    padding-top: 10px;
    padding-bottom:0px;
    border-radius: 15px;
    max-width: 0;
    width: 0;
    height: fit-content;
    /* transform: translate(-50%, -50%) scale(1.6); */
    transform: translateX(2000px);
    opacity: 0;
    pointer-events:none ;
 
    z-index: 1000;
    overflow: hidden;
       transition: var(--tran-06);
}
.change-password-modal-container .success-password-change{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 
}
.change-password-modal-container .success-password-change .bx-check-circle{
    font-size: 80px;
    margin-bottom: 10px;
    color:rgb(95, 151, 11);
}
.change-password-modal-container .success-password-change div{
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.deleteUserModal-open,
.changePassModal-open{
    opacity: 1;
    pointer-events:all;
    transform: translateX(440px);
    /* transform: translate(-50%, -50%) scale(1.4); */
    max-width: 500px;
    width: 100%;
    transition: var(--tran-06);
}
.change-password-modal-container header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 10px 0;
    border-bottom: 1px solid #ebedf9;
    padding:0 25px;
    padding-bottom:4px;
}

.change-password-modal-container header span {
    font-size: 25px;
    font-weight: 600;
}
.change-password-modal-container header .close {
    height: 40px;
    width: 40px;
    background: var(--primary-color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--tran-03);
    font-size: 25px;
}
.change-password-modal-container header .close:hover {
    background: var(--primary-color);
    color: var(--sidebar-color);
}

/* .change-password-modal-container .body .input-row {
    margin: 0 10px;
    margin-bottom: 10px;
} */
.change-password-modal-container .body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-password-modal-container .body input {
    height:50px;
    width: 70%;
    outline: none;
    border: none;
    border-radius: 0px;
    font-size: 16px;
    font-weight: 500;
    background:none;
    padding: 10px 10px;
    margin-top: 20px;
    outline: none;
    border: 1px solid var(--text-color);
    border-radius: 6px;
    /* margin-bottom: 15px; */
    transition: var(--tran-05);
}

.change-password-modal-container .body input:focus {
    border-color: var(--primary-color);
    background: var(--primary-color-light);
    color: var(--text-color);
  }
.change-password-modal-container .body label{
    align-self: self-start;
    /* margin-top: 10px; */
    /* height: fit-content; */
    /* width:20px; */
    /* color:red !important; */
    font-weight: 400;
    font-size: 16px;
    /* margin-right: 5px; */
    margin-left: 35px;
}
.change-password-modal-container .footer p{
    margin-top: 10px;
    padding-left: 10px;
    height: 15px;
    color:red ;
    font-size: 10px;
}
.change-password-modal-container .footer-btns-container{    
    display: flex;
    justify-content: center;
    margin-top: 15px;
    max-width: 500px;
    width: 100%;
}
.change-password-modal-container .footer-btns-container button{
    width: 50%;
    height: 60px;
    padding: 0px 20px;
    background: none;
    border: none;
    font-weight: 600;
    font-size: 15px;
    transition: var(--tran-03);
    cursor: pointer;
}
.change-password-modal-container .footer-btns-container button:hover{
    
    transition: var(--tran-03);
    color: #fff;
}

.change-password-modal-container .footer-btns-container .confirm-btn{
    color:var(--primary-color);
}
.change-password-modal-container .footer-btns-container .confirm-btn:hover{
    background-color:var(--primary-color);
}
.change-password-modal-container .footer-btns-container .confirm-btn:disabled{
    color:var(--text-color);
    background:none;
}
.change-password-modal-container .footer-btns-container .confirm-btn:disabled:hover{
    cursor: not-allowed;
    background: none;
}

.change-password-modal-container .footer-btns-container .cancel-delete-btn{
    color:rgba(119, 18, 18, 0.719);
}
.change-password-modal-container .footer-btns-container .cancel-delete-btn:hover{
    background:rgba(119, 18, 18, 0.719);
}
.change-password-modal-container .footer-btns-container .cancel-delete-btn:active,
.change-password-modal-container .footer-btns-container .delete-btn:active{
    background:var(--sidebar-color);
    transition: var(--tran-10);
}
